<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ADD SONGS</title>
<link href="admin.css" rel="stylesheet">
</head>
<body>
<h1>Add Songs!</h1>
<form action="/addsongs" method="post">
		<label for="songname">Song Name::</label>
		<input id="songname" type="text" name="name" placeholder="Enter SongName"/>
		<br/><br/>
		<label for="songartist">Song Artist:</label>
		<input id="songartist" type="text" name="artist" placeholder="Enter SongArtist"/>
		<br/><br/>
		<label for="songgenre">Song Genre:</label>
		<input id="songgenre" type="text" name="genre" placeholder="Enter SongGenre"/>
		<br/><br/>
		<label for="songlink">Song Link::</label>
		<input id="songlink" type="text" name="link" placeholder="Enter SongName"/>
		<br/><br/>
		<input type="submit" value="ADD SONG"/>
</form>

</body>
</html>